<!-- Search -->
<div class="col-xs-12 col-md-6 col">
	<div class="panel panel-primary">
		<!-- Heading -->
		<div class="panel-heading">
			<h3 class="panel-title">Search</h3>
		</div>
		<!-- Form -->
		<div class="panel-body">
			
		</div>
	</div>
<!-- /Search -->


</div>