<% content_for :title do %>
Home
<%end%>

<% content_for :body do %>
<div class="container">
	<div class="row">

		<%= erb :_search %>

		<%= erb :_results %>

	</div>
</div>
<%end%>


<% content_for :script do %> 
<script src="js/form-ajax.js"> </script>
<% end %>