<% content_for :title do %>
Related Reddits
<%end%>

<% content_for :body do %>

<!-- Jumbotron -->
<header>
	<div class="container">
		<div class="jumbotron">
			<h1>Related Subreddits</h1>
			<p>
				Ever wondered what other subreddits people hang out on?
			</p>
		</div>
	</div>
</header>
<!-- /Jumbotron -->

<div class="container">
	<div class="row">

		<%= erb :_search %>

		<%= erb :_results %>

	</div>
</div>
<%end%>


<% content_for :script do %> 
<script src="js/form-ajax.js"> </script>
<% end %>