%table.table
	%tr
		%th Subreddit
		%th # of users
	- @subreddits.each do |subreddit|
		%tr
			%td
				%a{:href=>"http://reddit.com/r/#{subreddit[0]}", :target=>"_blank"}=  subreddit[0]
			%td= "<span class='badge alert-info'>#{subreddit[1]}</span>"