	<table class="table">
		<tr>
			<th>Subreddit</th>
			<th># of users</th>
		</tr>
		<% @subreddits.each do |subreddit| %>
			<tr class="">
				<td><a href="http://reddit.com/r/<%=subreddit[0]%>" target="_blank"><%= subreddit[0] %></a></td>
				<td><%= subreddit[1] %></td>
			</tr>
		<% end %>
	</table>

